# Rust
target/
**/*.rs.bk

# Nix
/result*

# Direnv
/.direnv
/.envrc
/config/config.ron
/config/config.template.ron

# IDE
.idea

xindeler_updater_state.ron
*.db
.env
*.log
data/
/.vscode
*.exe

# database
xindeler-updater.db
xindeler-updater.db-shm
xindeler-updater.db-wal
/local

# OS-specific
.DS_Store
